<footer>
  <p id="name">© 2021 Evaldas Pranckevicius</p>
</footer>
<!-- <script>
    fetch('http://worldclockapi.com/api/json/utc/now')
      .then(data => data.json())
      .then(d =>
      document.getElementById("name").innerHTML = ("©  " + new Date(d.currentDateTime).getFullYear() + " Evaldas Pranckevicius"));
</script> -->
</body>
</html>
