<%- include("partials/header"); -%>


<div class="container-fluid about-container">
<center>
<h1 class="h1inAbout" style="color: black">My name is Evaldas Pranckevicius.</h1>
<p class="inAbout"> <%= somethingAbout %> </p>
  <a class="about-link" href="https://github.com/prevaldas">GitHub</a>
  <a class="about-link" href="https://www.facebook.com/prevaldas/">Facebook</a>
  <a class="about-link" href="https://www.flickr.com/photos/prevaldas/">Flicker</a>
  </center>
</div>



<%- include("partials/footer"); -%>
